    {% extends "layout.html" %}    

        {% block content %}
            <!-- Contenido Principal -->
            <main class="panel">
                <!-- Row-->
                <div class="row m-0 p-0">
                    <!-- Menu-->
                    <aside id="panel-menu" class="col-12 col-lg-2 col-md-4 p-0 uns card shadow-sm">
                        <div id="panel-menu-inner" class="p-0 panel-menu">
                            <div class="row justify-content-center">
                                <img src="{{ url_for('static', filename='img/logo-dark.png') }}" class="panel-logo" alt="logo-de-orquesta-escuela-berisso">
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item menuItem" role="button"><a href="/panel_alumnos"><i class="fas fa-user-graduate black3 mr-2"></i>Alumnos</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_empleados"><i class="fas fa-user-friends black3 mr-2"></i>Empleados</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_usuarios"><i class="fas fa-users black3 mr-2"></i>Usuarios</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_ciclos"><i class="fas fa-school black3 mr-2"></i>Ciclos lectivos</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_adminsitio"><i class="fas fa-globe-americas black3 mr-2"></i>Administración del sitio</a></li>
                            </ul>
                        </div>
                        
                    </aside>
                    <!-- /.Menu -->
                    <!-- Columna full width -->
                    <div class="col p-0">
                        <!-- Navegación -->
                        <nav class="navbar navbar-expand-lg navbar-light navbar-static-top shadow-sm bg-white uns px-5">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-link nav-link-panel">
                                    Panel de administración
                                </li>
                            </ul>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <i class="nav-link nav-link-nombre dropdown-toggle black4 cursor-p" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-user black4 mr-2"></i><span class="black4">{{nombre}} {{apellido}}</span>
                                    </i>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-default py-2" aria-labelledby="navbarDropdownMenuLink-333">
                                        <a class="dropdown-item" href="/cerrar_sesion"><i class="fas fa-sign-out-alt black5 mr-2 my-0"></i><b>Salir</b></a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <!-- /Navegación -->

                        <!-- Container Fluid -->
                        <div class="container-fluid w-100 p-5 m-0">
                            <div class="row">
                                <div class="col-4">
                                    <h1 class="h4 black2" id="panel-title">
                                        {% block contenttitle %}
                                        {% endblock %}
                                    </h1>
                                </div>
                                <div class="col-8">
                                    {% include 'auth/panel_components/mensajes_alertas.html' %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <hr>
                                </div>
                            </div>

                            <!-- Block Contenido -->
                            {% block contentitem %}
                            {% endblock %}
                            <!-- /.Block Contenido -->

                        </div>
                        <!-- /.Container Fluid -->
                    </div>
                    <!--/.Columna full width -->
                </div>
                <!-- /.Row-->
            </main>
            <!-- /Main -->
        {% endblock %}