    {% extends "layout.html" %}    
        {% block content %}
        <div class="container-fluid w-100">
            {% include 'auth/panel_components/mensajes_alertas.html' %}
        </div>
            <!-- Contenido Principal -->
            <main class="panel">
                <!-- Row-->
                <div class="row m-0 p-0">
                    <!-- Menu-->
                    <aside id="panel-menu" class="col-12 col-lg-2 col-md-4 p-0 uns card shadow-sm">
                        <div id="panel-menu-inner" class="p-0 panel-menu navbar-light">
                            <div class="row justify-content-center">
                                <img src="{{ url_for('static', filename='img/logo-dark.png') }}" class="panel-logo" alt="logo-de-orquesta-escuela-berisso">
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item menuItem" role="button"><a href="/panel_estudiantes"><i class="fas fa-user-graduate mr-2"></i>Estudiantes</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_docentes"><i class="fas fa-user-friends mr-2"></i>Docentes</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_instrumentos"><i class="fas fa-guitar mr-2"></i>Instrumentos</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_usuarios"><i class="fas fa-users mr-2"></i>Usuarios</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_nucleos"><i class="fas fa-map-marked-alt mr-2"></i>Núcleos</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_ciclos"><i class="fas fa-school mr-2"></i>Agregar Ciclos</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_talleres"><i class="fas fa-school mr-2"></i>Ciclos Talleres</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_docentes_taller"><i class="fas fa-user-friends mr-2"></i>Docentes taller</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_ciclos"><i class="fas fa-user-friends mr-2"></i>Alumnos taller</a></li>
                                <li class="list-group-item menuItem" role="button"><a href="/panel_adminsitio"><i class="fas fa-cog mr-2"></i>Configuracion</a></li>
                            </ul>
                            <hr>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item menuItem mt-auto" role="button"><a href="/cerrar_sesion"><i class="fas fa-sign-out-alt black5 mr-2 my-0"></i>Salir</a>
                            </ul>
                        </div>
                        
                    </aside>
                    <!-- /.Menu -->
                    <!-- Columna full width -->
                    <div class="col p-0">
                        <!-- Container Fluid -->
                        <div class="container-fluid w-100 p-5 m-0">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="h4 black2" id="panel-title">
                                        {% block contenttitle %}
                                        {% endblock %}
                                    </h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <hr>
                                </div>
                            </div>

                            <!-- Block Contenido -->
                            {% block contentitem %}
                            {% endblock %}
                            <!-- /.Block Contenido -->
                            <script>
                                var today = new Date();
                                var dd = today.getDate();
                                var mm = today.getMonth()+1; //January is 0!
                                var yyyy = today.getFullYear();
                                if(dd<10){
                                    dd='0'+dd
                                } 
                                if(mm<10){
                                    mm='0'+mm
                                } 

                                today = yyyy+'-'+mm+'-'+dd;
                                fechas = document.getElementsByClassName("datefield"); 
                                for (index = 0; index < fechas.length; index++) {
                                    fechas[index].setAttribute("max", today);
                                }
                            </script>

                        </div>
                        <!-- /.Container Fluid -->
                    </div>
                    <!--/.Columna full width -->
                </div>
                <!-- /.Row-->
            </main>
            <!-- /Main -->
        {% endblock %}