body, html {
  height: 100% !important;
}

.home-bg {
  /* The image used */
  background-image: url("../img/homewallpaper.png");

  /* Full height */
  height: 100vh !important;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .home-bg {
    background-image: none !important;
    background: #fff !important;
  }
}