/*--------------------------------------------------------------
    Import fonts
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
/*--------------------------------------------------------------
    General
--------------------------------------------------------------*/
* {
    color: #333;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #fff;
}
#app {
    min-height: 100vh;
    background: none;
}
.hide { 
    max-width: 0 !important;
    max-height: 0 !important;
}
.display-n { display: none !important;}
.display-b { display: block !important;}
.overflow-h { overflow: hidden !important; }
.no-shadow { box-shadow: none !important; }
.cursor-p { cursor: pointer !important; }
.cursor-d { cursor: default !important; }
.cursor-na { cursor: not-allowed !important; }
.br-0 { border-radius: 0 !important; }
.uns {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.opacity-1:hover { opacity: 0.7 !important;}
.opacity-2:hover { opacity: 0.5 !important;}
.opacity-3:hover { opacity: 0.4 !important;}

.inner-shadow-1 {
    -webkit-box-shadow: inset 0px 0px 20px 8px rgba(112,112,112,0.2);
    -moz-box-shadow: inset 0px 0px 20px 8px rgba(112,112,112,0.2);
    box-shadow: inset 0px 0px 20px 8px rgba(112,112,112,0.2);
}

input, textarea {
    background: #f9f9f9 !important;
}
/*--------------------------------------------------------------
    Text
--------------------------------------------------------------*/
.h1 { font-size: 2.0em !important; }
.h2 { font-size: 1.9em !important; }
.h3 { font-size: 1.8em !important; }
.h4 { font-size: 1.5em !important; }
.h5 { font-size: 1.04em !important; }
.h6 { font-size: 0.88em !important; }
p { font-size: 16px; }
.p2 {
    font-size: .9em;
}
h1, h2, h3, h4, h5, h6, p {
    color: #444;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
}
.color-gris {
    color: #676767 !important;
}
.color20 {
    color: #206be3 !important;
}

/*--------------------------------------------------------------
    Buttons
--------------------------------------------------------------*/
.btn {
    margin: 0px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700;
    padding: 10px 20px;
    border: 0 none;
    letter-spacing: .1em;
    box-shadow: 0 .07em .125em 0 rgba(0,0,0,.15) !important;
}
.btn i {
    color: inherit !important;
}
.btn:hover {
    opacity: 0.9 !important;
}
    /* Rounded */
.btn-rounded {
    border-radius: 50px !important;
}

/*--------------------------------------------------------------
    Icons
--------------------------------------------------------------*/
.icon-sm { font-size: 1.2em !important; }
.icon-md { font-size: 1.5em !important; }
.icon-lg { font-size: 1.9em !important; }

/*--------------------------------------------------------------
    Cards
--------------------------------------------------------------*/
.card {
    border-radius: 3px;
    border: 0 none !important;
}
.card-header {
    background: #fbfbfb !important;
}
.card-radius-16 {
    border-radius: 16px !important;
}

/*--------------------------------------------------------------
    <navbar>
--------------------------------------------------------------*/
.home-navbar .nav-item a {
    color: #707070;
    font-weight: 400;
    font-size: 1.3em;
    margin: 0 50px;
    letter-spacing: .1em;
}
.nav-logo {
    height: 8em;
    opacity: 0.5 !important;
    margin-right: 8em;
}
.home-login-button {
    margin-left: 5em;
}

@media (max-width: 1400px) {
    .nav-logo {
        height: 4em !important;
        margin: 0 !important;
    }
    .home-navbar .nav-item a {
        font-size: 1em;
        margin: .7em 2em !important;
    }
    .home-login-button {
        margin-left: 1.6em !important;
    }
    .home-login-button button {
        font-size: .7em !important;
    }
}

@media (max-width: 992px) {
    .home-navbar {
        background: #fcfcfc !important;
        box-shadow: 0 .07em .155em 0 rgba(0,0,0,.22) !important;
        padding: 1em !important;
    }
    .nav-logo {
        height: 4em !important;
        margin: 0 !important;
    }
    .home-navbar .nav-item a {
        font-size: 1em;
        margin: .7em 2em !important;
    }
    .home-login-button {
        margin-left: 1.6em !important;
    }
}

/*--------------------------------------------------------------
    Página de inicio
--------------------------------------------------------------*/
.home-row {
    padding-top: 45vh;
}
.home-title {
    font-weight: 700;
    font-size: 45px;
    color: #454545;
}
.home-text {
    font-size: 26px;
}

/*--------------------------------------------------------------
    Página de login
--------------------------------------------------------------*/
.login-main {
    background: #134153;
    min-height: 100vh;
    max-height: 200vh;
}
.back-card {
    padding: 0 !important;
    background: rgba(255,255,255,0.2);
}
.login-card {
    background: #fcfcfc !important;
    height: 120% !important;
}

@media (min-width: 576px) {
    .login-card {
        position: relative;
        width: 100%;    
        margin: 0;
        height: 100%;
    }
    .login-logo {
        margin: 20px auto;
        width: 100px;
    }
    .back-card {
        margin: 1em auto 0 auto;    
    }
}

@media (min-width: 768px) {
    .login-card {
        position: absolute;
        height: 120% !important;
        max-width: 100% !important;
        margin-top: -10%;
    }
    .login-logo {
        width: auto;    
        margin: 120px auto !important;
    }
    .back-card {
        margin: 6em auto 0 auto;
    }
}

@media (min-width: 992px) {
    .login-card {
        width: 80%;
    }
}

.login-header {
    background: none !important;
    border: 0 none !important;
    text-align: center;
    padding: 40px !important;
}
.login-header h1 {
    font-weight: 400;
    font-size: 30px;
    color: #333 !important;
}
.login-body {
    padding: 20px;
    background: none !important;
}
.btn-new-green {
    background: #7ed4c9;
    padding-left: 100px;
    padding-right: 100px;
}
.btn-back {
    background: #2c7695;
    border-radius: 8px;
}

/*--------------------------------------------------------------
    Panel de docente
--------------------------------------------------------------*/
@media (min-width: 702px) {
    #panel-menu {
        min-height: 100vh;
    }
}
@media (min-width: 992px) {
    .panel-logo {
        display: block !important;
    }
}
.panel {
    background: #f5f7f9;
}
.nav-link-panel , .nav-link-nombre {
    color: #353535 !important;
    font-weight: 500;
}
.nav-link-panel {
    font-size: 1.2em;
}
.nav-link-nombre {
    font-size: .9em;
}
#panel-menu {
    z-index: 10;
    border-radius: 0 !important;
    box-shadow: 0 .07em .18em 0 rgba(0,0,0,.22) !important;
    background: #fff;
}
.navbar-static-top {
    margin-bottom: 0px;
}
.panel-logo {
    margin: 50px auto;
    width: 40%;
    display: none;
}
.panel-main {
    background: #e6e6e4;
    height: 100%;
}
.panel-main .container-fluid {
    margin: 0 auto;
    padding-top: 10vh;
}

.menuItem {
    transition: 0.1s all !important;
    color: #555 !important;
    border: 0 none !important;
    width: 100% !important;
    padding: .7em 2.3em !important;
    background: none !important;
}
.menuItem a, .menuItem a i {
    color: #555;
    font-size: 1em;
}
.menuItem a:hover {
    color: #0971d9 !important;
}
.menuItem a:hover i {
    color: #0971d9 !important;
}
.menuItemActive a i, .menuItemActive a {
    color: #0971d9 !important;
}
.subItem {
	display: none;
}
.icon-rounded {
    padding: 10px;
    margin-right: 4px;
    border-radius: 50px;
}
.full-height {
    height: 100% !important;
}
.navbar-brand {
    color: #444 !important;
    cursor: default !important;
}
.btn-note-detail {
    background: #7ed4c9;
    font-weight: bold;
}
.alert-fixed {
    position: fixed;
    bottom: 9vh;
    top: auto;
    left: 3vw;;
    right: 3vw;
    z-index:9999;
}
@media (min-width: 992px) {
    .alert-fixed {
        position: fixed;
        bottom: 9vh;
        left: 30vw;
        right: 30vw;
        z-index:9999;
    }   
}
.page-buttons {
    display: inline-block !important;
}
#bigmapid {
    height: 40vh;
    width: 100%;
}
#minmapid {
    height: 65vh;
    width: 100%;
}

/*--------------------------------------------------------------
    Interacción de tablas del panel de doncente
--------------------------------------------------------------*/
th, td {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
.table-selected {
    background: rgba(44, 118, 149, 0.5) !important;
}
.table-select {
    transition: 0.08s all !important;
}
.table-select:hover {
    background: rgba(44, 118, 149, 0.6) !important;
}
.table-select:active {
    background: rgba(44, 118, 149, 0.8) !important;
}

.instrumento {
    max-height: 300px;
    max-width: 200px;
}