/*--------------------------------------------------------------
    Import fonts
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
/*--------------------------------------------------------------
    Root variables
--------------------------------------------------------------*/
:root {
    /*Pallete*/
    --color-1:#6059f7;
    --color-2: #6592fe;
    --color-3:#5143de;
    --color-4: #1d252d;
    --color-5:#3d5265;
    /*White*/
    --white-1: #fff;
    --white-2: #fbfbfb;
    --white-3: #eee;
    --white-4: #d8d8d8;
    --white-5: #d8d8d8;
    /*Black*/
    --black-1: #474747;
    --black-2: #595959;
    --black-3: #7a7a7a;
    --black-4: #979797;
    --black-5: #aaa;
    /*Link*/
    --link: #3e64ff;
    --link-dark: #1d41d1;
    /*Notation*/
    --primary: #3d87ff;
    --primary-dark: #251f87;
    --secondary: #3d30ba;
    --secondary-dark: #3428a7;
    --info: #29cae4;
    --info-dark: #20b8d1;
    --light: #ddd;
    --light-dark: #b8c4d6;
    --success: #00c851;
    --success-dark: #007e33;
    --warning: #ffbb33;
    --warning-dark: #ff8800;
    --danger: #ff4444;
    --danger-dark: #cc0000;
    /*Transition*/
    --base-transition: 0.09s all !important;
    /*Fonts*/
    --font-1: 'Open Sans', sans-serif;
}
/*--------------------------------------------------------------
    General
--------------------------------------------------------------*/
* {
    color: var(--black-1);
    font-family: var(--font-1);
}
body {
    background: #fff;
}
#app {
    min-height: 100vh;
    background: none;
}
.hide { 
    max-width: 0 !important;
    max-height: 0 !important;
}
.display-n { display: none !important;}
.display-b { display: block !important;}
.overflow-h { overflow: hidden !important; }
.no-shadow { box-shadow: none !important; }
.cursor-p { cursor: pointer !important; }
.cursor-d { cursor: default !important; }
.cursor-na { cursor: not-allowed !important; }
.br-0 { border-radius: 0 !important; }
.uns {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}
.opacity-1:hover { opacity: 0.7 !important;}
.opacity-2:hover { opacity: 0.5 !important;}
.opacity-3:hover { opacity: 0.4 !important;}

.inner-shadow-1 {
    -webkit-box-shadow: inset 0px 0px 20px 8px rgba(112,112,112,0.2);
    -moz-box-shadow: inset 0px 0px 20px 8px rgba(112,112,112,0.2);
    box-shadow: inset 0px 0px 20px 8px rgba(112,112,112,0.2);
}

/*--------------------------------------------------------------
    Text
--------------------------------------------------------------*/
.h1 { font-size: 2.0em !important; }
.h2 { font-size: 1.9em !important; }
.h3 { font-size: 1.8em !important; }
.h4 { font-size: 1.5em !important; }
.h5 { font-size: 1.2em !important; }
.h6 { font-size: 0.8em !important; }
p { font-size: 16px; }
h1, h2, h3, h4, h5, h6, p {
    color: var(--black-1);
    font-family: var(--font-1);
    font-weight: 400 !important;
}

.font-1 { font-family: var(--font-1); }

/*--------------------------------------------------------------
    Buttons
--------------------------------------------------------------*/
.btn {
    margin: 0px !important;
    font-family: var(--font-1) !important;
    font-weight: 700;
    padding: 10px 20px;
    border: 0 none;
    letter-spacing: .1em;
    box-shadow: 0 .07em .125em 0 rgba(0,0,0,.15) !important;
}
.btn i {
    color: inherit !important;
}
.btn:hover {
    opacity: 0.9 !important;
}
    /* Rounded */
.btn-rounded {
    border-radius: 50px !important;
}
    /* Colors */
.btn-primary {
    background-color: var(--primary) !important;
}
.btn-primary-dark {
    background-color: var(--primary-dark) !important;
}
.btn-secondary {
    background-color: var(--secondary) !important;
}
.btn-secondary-dark {
    background-color: var(--secondary-dark) !important;
}
.btn-info {
    background-color: var(--info) !important;
}
.btn-info-dark {
    background-color: var(--info-dark) !important;
}
.btn-light {
    background-color: var(--light) !important;
}
.btn-light-dark {
    background-color: var(--light-dark) !important;
}
.btn-success {
    background-color: var(--success) !important;
}
.btn-success-dark {
    background-color: var(--success-dark) !important;
}
.btn-warning {
    background-color: var(--warning) !important;
}
.btn-warning-dark {
    background-color: var(--warning-dark) !important;
}
.btn-danger {
    background-color: var(--danger) !important;
}
.btn-danger-dark {
    background-color: var(--danger-dark) !important;
}

/*--------------------------------------------------------------
    Icons
--------------------------------------------------------------*/
.icon-sm { font-size: 1.2em !important; }
.icon-md { font-size: 1.5em !important; }
.icon-lg { font-size: 1.9em !important; }

/*--------------------------------------------------------------
    Colors
--------------------------------------------------------------*/
.color1 { color: var(--color-1) !important;}
.color2 { color: var(--color-2) !important;}
.color3 { color: var(--color-3) !important;}
.color4 { color: var(--color-4) !important;}
.color5 { color: var(--color-5) !important;}

.white1 { color: var(--white-1) !important; }
.white2 { color: var(--white-2) !important; }
.white3 { color: var(--white-3) !important; }
.white4 { color: var(--white-4) !important; }
.white5 { color: var(--white-5) !important; }

.black1 { color: var(--black-1) !important; }
.black2 { color: var(--black-2) !important; }
.black3 { color: var(--black-3) !important; }
.black4 { color: var(--black-4) !important; }
.black5 { color: var(--black-5) !important; }

.primary { color: var(--primary) !important; }
.primary-dark { color: var(--primary-dark) !important; }

.secondary { color: var(--secondary) !important; }
.secondary-dark { color: var(--secondary-dark) !important; }

.info { color: var(--info) !important; }
.info-dark { color: var(--info-dark) !important; }

.light { color: var(--light) !important; }
.light-dark { color: var(--light-dark) !important; }

.success { color: var(--success) !important; }
.success-dark { color: var(--success-dark) !important; }

.warning { color: var(--warning) !important; }
.warning-dark { color: var(--warning-dark) !important; }

.danger { color: var(--danger) !important; }
.danger-dark { color: var(--danger-dark) !important; }

/*--------------------------------------------------------------
    Background Colors
--------------------------------------------------------------*/
.bg-color1 { background: var(--color-1) !important;}
.bg-color2 { background: var(--color-2) !important;}
.bg-color3 { background: var(--color-3) !important;}
.bg-color4 { background: var(--color-4) !important;}
.bg-color5 { background: var(--color-5) !important;}

.bg-white1 { background: var(--white-1) !important; }
.bg-white2 { background: var(--white-2) !important; }
.bg-white3 { background: var(--white-3) !important; }
.bg-white4 { background: var(--white-4) !important; }
.bg-white5 { background: var(--white-5) !important; }

.bg-black1 { background: var(--black-1) !important; }
.bg-black2 { background: var(--black-2) !important; }
.bg-black3 { background: var(--black-3) !important; }
.bg-black4 { background: var(--black-4) !important; }
.bg-black5 { background: var(--black-5) !important; }

.bg-primary { background: var(--primary) !important; }
.bg-primary-dark { background: var(--primary-dark) !important; }

.bg-secondary { background: var(--secondary) !important; }
.bg-secondary-dark { background: var(--secondary-dark) !important; }

.bg-info { background: var(--info) !important; }
.bg-info-dark { background: var(--info-dark) !important; }

.bg-light { background: var(--light) !important; }
.bg-light-dark { background: var(--light-dark) !important; }

.bg-success { background: var(--success) !important; }
.bg-success-dark { background: var(--success-dark) !important; }

.bg-warning { background: var(--warning) !important; }
.bg-warning-dark { background: var(--warning-dark) !important; }

.bg-danger { background: var(--danger) !important; }
.bg-danger-dark { background: var(--danger-dark) !important; }

/*--------------------------------------------------------------
    Cards
--------------------------------------------------------------*/
.card {
    border-radius: 3px;
    border: 0 none !important;
    box-shadow: 0 .07em .155em 0 rgba(0,0,0,.22) !important;
}
.card-radius-16 {
    border-radius: 16px !important;
}

/*--------------------------------------------------------------
    <navbar>
--------------------------------------------------------------*/
.main-navbar .nav-item a {
    color: #707070;
    font-family: var(--font-3);
    font-weight: 400;
    font-size: 1.3em;
    margin: 0 50px;
    letter-spacing: .1em;
}
.nav-logo {
    height: 210px;
    opacity: 0.5 !important;
}

/*--------------------------------------------------------------
    Página de inicio
--------------------------------------------------------------*/
.home-row {
    padding-top: 45vh;
}
.home-title {
    font-family: var(--font-3);
    font-weight: 700;
    font-size: 45px;
    color: var(--black-2);
}
.home-text {
    font-size: 26px;
}

/*--------------------------------------------------------------
    Página de login
--------------------------------------------------------------*/
.login-main {
    background: #134153;
    min-height: 100vh;
    max-height: 200vh;
}
.back-card {
    padding: 0 !important;
    background: rgba(255,255,255,0.2);
}
.login-card {
    background: #fcfcfc !important;
    height: 120% !important;
}

@media (min-width: 576px) {
    .login-card {
        position: relative;
        width: 100%;    
        margin: 0;
        height: 100%;
    }
    .login-logo {
        margin: 20px auto;
        width: 100px;
    }
    .back-card {
        margin: 1em auto 0 auto;    
    }
}

@media (min-width: 768px) {
    .login-card {
        position: absolute;
        height: 120% !important;
        max-width: 100% !important;
        margin-top: -10%;
    }
    .login-logo {
        width: auto;    
        margin: 120px auto !important;
    }
    .back-card {
        margin: 6em auto 0 auto;
    }
}

@media (min-width: 992px) {
    .login-card {
        width: 80%;
    }
}

.login-header {
    background: none !important;
    border: 0 none !important;
    text-align: center;
    padding: 40px !important;
}
.login-header h1 {
    font-family: var(--font-1);
    font-weight: 400;
    font-size: 30px;
    color: var(--black-1) !important;
}
.login-body {
    padding: 20px;
    background: none !important;
}
.btn-new-green {
    background: #7ed4c9;
    padding-left: 100px;
    padding-right: 100px;
}
.btn-back {
    background: #2c7695;
    border-radius: 8px;
}

/*--------------------------------------------------------------
    Panel de docente
--------------------------------------------------------------*/
.panel {
    background: #fff;
}
.panel nav .nav-link {
    color: var(--black-4);
    font-weight: 500;
    font-size: 1.2em;
}
#panel-menu, #panel-menu-inner, .panel-content, #panel-toggle {
    transition: 0.3s all;
}
#panel-menu {
    z-index: 10;
}
.navbar-static-top {
    margin-bottom: 0px;
}
.panel-logo {
    margin: 50px auto;
    width: 50%;
}
.panel-main {
    background: #e6e6e4;
    height: 100%;
}
.panel-main .container-fluid {
    margin: 0 auto;
    padding-top: 10vh;
}
.panel-menu {
    height: 100vh;
    border-radius: 0 !important;
    background: #fff;
}
.menuItem {
    transition: 0.2s all;
    color: #444 !important;
    border: 0 none !important;
    padding: 1.3em 2.3em;
}
.menuItem:hover {
	cursor: pointer;
    background: #e8f3ee !important;
}
.menuItem:active {
	background: #ddd !important;
}
.menuItemActive {
    background: #ddd;
    color: var(--black-2);
}
.subItem {
	display: none;
}
.icon-rounded {
    padding: 10px;
    margin-right: 4px;
    border-radius: 50px;
}
.full-height {
    height: 100% !important;
}
.navbar-brand {
    color: #444 !important;
    cursor: default !important;
}
.panel-nav {
    background: #fdfdfd;
}
.btn-note-detail {
    background: #7ed4c9;
    font-weight: bold;
}

/*--------------------------------------------------------------
    Interacción de tablas del panel de doncente
--------------------------------------------------------------*/
th, td {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}
.table-selected {
    background: rgba(44, 118, 149, 0.5) !important;
}
.table-select {
    transition: 0.08s all !important;
}
.table-select:hover {
    background: rgba(44, 118, 149, 0.6) !important;
}
.table-select:active {
    background: rgba(44, 118, 149, 0.8) !important;
}