<!--Navbar-->
<nav class="navbar navbar-expand-lg bg-white navbar-dark">
    <!-- Navbar brand -->
    <a class="navbar-brand black3" href="/">Escuela orquesta de berisso</a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/iniciar_sesion" type="button" class="btn btn-primary ml-auto btn-rounded">Iniciar Sesión</a>
            </li>
        </ul>
        <!-- Links -->
    </div>
    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->