    <div class="subItem">
        <div class="row">
            <div class="col-md-12 mb-3">
                <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#studentCreate">
                    <i class="fas fa-user-plus mr-2"></i> Nuevo Estudiante
                </button>
            </div>
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <!-- Row Titulos -->
                        <tr>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Localidad</th>
                            <th>Nivel</th>
                            <th>Domicilio</th>
                            <th>Género</th>
                            <th>Escuela</th>
                            <th>Documento</th>
                            <th>Teléfono</th>
                            <th>Barrio</th>
                            <th>Acciones</th>
                        </tr>
                        <!-- Row Estudiantes -->
                        {% for row in students %}
                        <tr>
                            <td>{{row.apellido}}</td>
                            <td>{{row.nombre}}</td>
                            <td>{{row.fecha_nac}}</td>
                            <td><span class="min_loc">{{row.localidad_id}}</span></td>
                            <td>{{row.nivel}}</td>
                            <td>{{row.domicilio}}</td>
                            <td>{{row.genero}}</td>
                            <td>{{row.escuela}}</td>
                            <td>
                                <span class="min_dni font-1">{{row.tipo_doc_id}}</span>
                                {{row.numero}}
                            </td>
                            <td>{{row.tel}}</td>
                            <td>{{row.barrio}}</td>
                            <td>
                                <a href="/update_student/{{row.id}}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#studentEdit{{row.id}}"><i class="fas fa-edit mr-2"></i>Editar</a>
                                <a href="/delete_student/{{row.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are You Sure For Delete?')"><i class="fas fa-user-minus mr-2"></i>Eliminar</a>
                            </td>
                        </tr>
                        <div id="studentEdit{{row.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Actualizar</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('update_student') }}" method="POST">        
                                            <input type="hidden"  name="id" value="{{row.id}}">
                                            <!-- Nombre y apellido -->
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Apellido</label>
                                                    <input type="text" class="form-control" placeholder="Apellido" name="apellido" value="{{row.apellido}}" required="1">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Nombre</label>
                                                    <input type="text" class="form-control" placeholder="Nombre" name="nombre" value="{{row.nombre}}" required="1">
                                                </div>
                                            </div>

                                            <!-- Fecha de nacimiento -->
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Fecha de nacimiento</label>
                                                    <input type="date" class="form-control" value="{{row.fecha_nac}}" name="fecha_nac" required="1">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Localidad</label>
                                                    <select name="localidad_id" class="localidades browser-default custom-select" required="1">
                                                        
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- Nivel y DNI -->
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Nivel</label>
                                                    <select name="nivel_id" class="browser-default custom-select" required="1">
                                                        <option selected disabled>Nivel</option>
                                                        {% for nivel in niveles %}
                                                        {% if nivel.id == row.nivel_id %}
                                                        <option value="{{nivel.id}}" selected>{{nivel.nombre}}</option>
                                                        {% else %}
                                                        <option value="{{nivel.id}}">{{nivel.nombre}}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Domicilio</label>
                                                    <input type="text" min="0" class="form-control" value="{{row.numero}}" name="domicilio" required="1">
                                                </div>
                                            </div>
                                            
                                            <!-- Direccion -->
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Género</label>
                                                    <select name="genero_id" class="browser-default custom-select" required="1">
                                                        <option selected disabled>Genero</option>
                                                        {% for genero in generos %}
                                                        {% if genero.id == row.genero_id %}
                                                        <option value="{{genero.id}}" selected>{{genero.nombre}}</option>
                                                        {% else %}
                                                        <option value="{{genero.id}}">{{genero.nombre}}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Escuela</label>
                                                    <select name="escuela_id" class="browser-default custom-select" required="1">
                                                        <option selected disabled>Escuela</option>
                                                        {% for escuela in escuelas %}
                                                        {% if escuela.id == row.escuela_id %}
                                                        <option value="{{escuela.id}}" selected>{{escuela.nombre}}</option>
                                                        {% else %}
                                                        <option value="{{escuela.id}}">{{escuela.nombre}}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <!-- Padre madre tutor e instrumento-->
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Tipo Documento</label>
                                                    <select name="tipo_doc_id" class="tipo_docs browser-default custom-select" required="1">

                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Numero</label>
                                                    <input type="number" min="0" class="form-control" value="{{row.numero}}" name="numero" required="1">
                                                </div>
                                            </div>
                                            
                                            <!-- Fecha de nacimiento (Alumno) -->
                                            <div class="form-group row">
                                                <div class="col-md-6">
                                                    <label>Teléfono</label>
                                                    <input type="number" min="0" class="form-control" value="{{row.tel}}" name="tel" required="1">
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Barrio</label>
                                                    <select name="barrio_id" class="browser-default custom-select" required="1">
                                                        <option selected disabled>Barrio</option>
                                                        {% for barrio in barrios %}
                                                        {% if barrio.id == row.barrio_id %}
                                                        <option value="{{barrio.id}}" selected>{{barrio.nombre}}</option>
                                                        {% else %}
                                                        <option value="{{barrio.id}}">{{barrio.nombre}}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-group row">
                                                <div class="col-md-6 text-left">
                                                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                                                </div>
                                                <div class="col-md-6 text-right">
                                                    <button class="btn btn-primary" type="sbumit">Actualizar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!-- Modal -->
            <div id="studentCreate" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Ingresar datos</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body px-4">
                            <form action="{{ url_for('insert_student') }}" method="POST">

                                <!-- Nombre y apellido -->
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Apellido</label>
                                        <input type="text" class="form-control" placeholder="Apellido" name="apellido" required="1">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" placeholder="Nombre" name="nombre" required="1">
                                    </div>
                                </div>

                                <!-- Fecha de nacimiento -->
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Fecha de nacimiento</label>
                                        <input type="date" class="form-control" name="fecha_nac" required="1">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Localidad</label>
                                        <select name="localidad_id" class="localidades browser-default custom-select" required="1">
                                        </select>
                                    </div>
                                </div>

                                <!-- Nivel y DNI -->
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Nivel</label>
                                        <select name="nivel_id" class="browser-default custom-select" required="1">
                                            <option selected disabled>Seleccionar</option>
                                            {% for nivel in niveles %}
                                            <option value="{{nivel.id}}">{{nivel.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Domicilio</label>
                                        <input type="text" min="0" class="form-control" placeholder="Domicilio" name="domicilio" required="1">
                                    </div>
                                </div>
                                
                                <!-- Direccion -->
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Género</label>
                                        <select name="genero_id" class="browser-default custom-select" required="1">
                                            <option selected disabled>Seleccionar</option>
                                            {% for genero in generos %}
                                            <option value="{{genero.id}}">{{genero.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Escuela</label>
                                        <select name="escuela_id" class="browser-default custom-select" required="1">
                                            <option selected disabled>Seleccionar</option>
                                            {% for escuela in escuelas %}
                                            <option value="{{escuela.id}}">{{escuela.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                
                                <!-- Documento -->
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Tipo Documento</label>
                                        <select name="tipo_doc_id" class="tipo_docs browser-default custom-select" required="1">
                                            
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Número</label>
                                        <input type="number" min="0" class="form-control" placeholder="Numero DNI" name="numero" required="1">
                                    </div>
                                </div>
                                
                                <!-- Telefono y barrio -->
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Teléfono</label>
                                        <input type="number" min="0" class="form-control" placeholder="Telefono" name="tel" required="1">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Barrio</label>
                                        <select name="barrio_id" class="browser-default custom-select" required="1">
                                            <option selected disabled>Seleccionar</option>
                                            {% for barrio in barrios %}
                                            <option value="{{barrio.id}}">{{barrio.nombre}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-md-6 text-left">
                                        <button type="button" class="btn btn-light black2" data-dismiss="modal">Cancelar</button>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <button class="btn btn-primary-dark white1" type="submit">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
    </div>