{% extends "auth/panel.html" %}
{% block contenttitle %}
<i class="fas fa-school black3 mr-2"></i>Ciclos lectivos
{% endblock %}
{% block contentitem %}
    <div class="row">
        <div class="col-12 col-md-6 mb-3">
            <div class="card">
                <div class="card-header py-1">
                    Agregar nuevo ciclo lectivo
                </div>
                <div class="card-body pb-1">
                    <form method="POST" action="/insert_ciclo">
                        <div class="form-group row">
                            <div class="col-12 col-md-6">
                                <label class="mb-2">Fecha inicio</label>
                                <input class="form-control" type="date" name="fecha_ini" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="mb-2">Fecha cierre</label>
                                <input class="form-control" type="date" name="fecha_fin" required>
                            </div>
                            <div class="col-12 col-md-6 mt-3">
                                <label class="mb-2">Semestre</label>
                                <select name="semestre" class="browser-default custom-select" required>
                                    <option selected disabled>Seleccionar</option>
                                    <option value="1">Semestre I</option>
                                    <option value="2">Semestre II</option>
                                </select>
                            </div>
                        </div> 
                        <hr>
                        <div class="form-group row">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-secondary">Guardar</button>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <div class="card h-100">
                <div class="card-header py-1">
                    Ciclos lectivos vigentes
                </div>
                <div class="card-body pb-1">
                    {% for ciclo in ciclos %}
                    <form method="POST" action="/update_ciclo">
                        <div class="form-group row">
                            <input type="hidden"  name="id_ciclo" value="{{ciclo.id}}" required>
                            <div class="col-12 mb-4">
                                <label class="p2">(*) Las fechas de los ciclos lectivos se pueden modificar haciendo click sobre el picker date y guardando la nueva fecha seleccionada</label>
                            </div>
                            <div class="col-12 mb-2">
                                <h1 class="h5 mb-4">Semestre {{ciclo.semestre}} (2019)</h1>
                            </div>
                            <div class="col-12 col-md-6 mb-2">
                                <label class="mb-2">Fecha inicio</label>
                                {{ciclo.fecha_ini.strftime('%Y-%m-%d')}}
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="mb-2">Fecha cierre</label>
                                {{ciclo.fecha_fin.strftime('%Y-%m-%d')}}
                            </div>
                        </div> 
                        <hr>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
        <div class="row row-eq-height">
            <div class="col-12 my-4">
                <h1 class="h4"><i class="fas fa-school black3 mr-2"></i>Relación talleres con ciclos</h1>
                <hr>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header py-1">
                        Talleres ya asignados
                    </div>
                    <div class="card-body pb-1">
                        {% for ciclo in ciclos %}
                        <p class="h3">Semestre {{ciclo.semestre}}</p>
                        <p class="h4 color-gris">Talleres ya asignados</p>
                            {% for ct in ciclo_talleres %}
                            {% if ciclo.id == ct.ciclo_lectivo_id %}
                                <p class="h6 color20">{{ct.nombre}}</p>
                            {% endif %}
                            {% endfor %}
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header py-1">
                        Asignar taller a ciclo lectivo
                    </div>
                    <div class="card-body pb-1">
                        <form method="POST" action="/ciclo_taller">
                            <div class="form-group row">
                                <div class="col-md-6 mb-2">
                                    <label class="mb-2">Semestre</label>
                                    <select name="ciclo_lectivo_id" class="browser-default custom-select" required>
                                        <option selected disabled>Seleccionar</option>
                                        {% for ciclo in ciclos %}
                                        <option value="{{ciclo.id}}">Semestre {{ciclo.semestre}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="mb-2">Taller</label>
                                    <select name="taller_id" class="browser-default custom-select" required>
                                        <option selected disabled>Seleccionar</option>
                                        {% for taller in talleres %}
                                        <option value="{{taller.id}}">{{taller.nombre}} ({{taller.nombre_corto}})</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="form-group row">
                                <div class="col-md-12 text-right">
                                    <button type="submit" class="btn btn-secondary">Asignar taller</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Row -->

        <div class="row row-eq-height">
            <div class="col-12 my-4">
                <h1 class="h4"><i class="fas fa-school black3 mr-2"></i>Relación docentes con talleres</h1>
                <hr>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header py-1">
                        Docentes ya asignados
                    </div>
                    <div class="card-body pb-1">
                        {% for ct in docente_talleres %}
                        <p class="h3">Taller {{ct.nombre}}</p>
                        <p class="h4 color-gris">Docentes ya asignados</p>
                            {% for dt in ciclo_talleres %}
                            {% if ct.taller_id == ct.idtaller %}
                                <p class="h6 color20">{{ct.nombre}}{{ct.apellido}}</p>
                            {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 mb-3">
                <div class="card h-100">
                    <div class="card-header py-1">
                        Asignar docente a taller
                    </div>
                    <div class="card-body pb-1">
                        {% for ciclo in ciclos %}
                        <h1 class="h5">Ciclo lectivo {{ciclo.semestre}}</h1>
                            <form method="POST" action="/taller_docente">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="mb-2">Taller</label>
                                        <input type="hidden"  name="id_ciclo" value="{{ciclo.id}}" required>
                                        <select name="taller_id" class="browser-default custom-select" required>
                                            <option selected disabled>Seleccionar</option>
                                            {% for ct in talleres %}
                                            {% if ct.ciclo_lectivo_id == ciclo.id %}
                                            <option value="{{ct.taller_id}}">{{ct.nombre}} ({{taller.nombre_corto}})</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label class="mb-2">Docentes</label>
                                        <select name="docente_id" class="browser-default custom-select" required>
                                            <option selected disabled>Seleccionar</option>
                                            {% for d in docentes %}
                                            <option value="{{d.id}}">{{d.nombre}} {{d.apellido}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-md-12 text-right">
                                        <button type="submit" class="btn btn-secondary">Asignar taller</button>
                                    </div>
                                </div>
                            </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.Row -->
{% endblock %}