{% extends "auth/panel.html" %}
{% block contenttitle %}
<i class="fas fa-school black3 mr-2"></i>Ciclos lectivos
{% endblock %}
{% block contentitem %}
    <div class="row row-eq-height">
        <div class="col-md-6 mb-3">
            <div class="card h-100">
                <div class="card-header py-1">
                    Ciclos lectivos
                </div>
                <div class="card-body pb-1">
                    <form method="POST">
                        {% for ciclo in ciclos_lectivos %}
                        <div class="form-group row">
                            <div class="col-md-4 mb-2">
                                <h1 class="h5 mb-4">Ciclo lectivo {{ciclo.semestre}} (2019)</h1>
                            </div>
                            <div class="col-md-4 mb-2">
                                <label class="mb-2">Fecha inicio</label>
                                <input class="form-control" type="date" name="fecha_ini" value="{{ciclo.fecha_ini.strftime('%Y-%m-%d')}}">
                            </div>
                            <div class="col-md-4">
                                <label class="mb-2">Fecha cierre</label>
                                <input class="form-control" type="date" name="fecha_fin" value="{{ciclo.fecha_fin.strftime('%Y-%m-%d')}}">
                            </div>
                        </div> 
                        <hr>
                        {% endfor %}
                        <div class="form-group row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-secondary disabled" disabled>Guardar</button>
                            </div>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card h-100">
                <div class="card-header py-1">
                    Talleres
                </div>
                <div class="card-body pb-1">
                    <h1 class="h5">Asociar taller a ciclo lectivo</h1>
                    <hr>
                    <form method="POST">
                        <h1 class="h5 mb-4">Ciclo lectivo 1 (2019)</h1>
                        <div class="form-group row">
                            <div class="col-md-6 mb-2">
                                <label class="mb-2">Semestre</label>
                                <select class="browser-default custom-select" required>
                                    <option selected disabled>Seleccionar</option>
                                    {% for ciclo in ciclos_lectivos %}
                                    <option value="{{ciclo.id}}">Semestre {{ciclo.semestre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="mb-2">Taller</label>
                                <select class="browser-default custom-select" required>
                                    <option selected disabled>Seleccionar</option>
                                    {% for taller in talleres %}
                                    <option value="{{taller.id}}">{{taller.nombre}} ({{taller.nombre_corto}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-secondary disabled" disabled>Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Row -->
    <h1 class="h4 mt-5">Asignacion a talleres</h1>
    <hr class="mb-4">
    <!-- Row -->
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header py-1">
                    Docentes
                </div>
                <div class="card-body pb-1">
                    <h1 class="h5">Asociar docente a taller</h1>
                    <hr>
                    <form method="POST">
                        <h1 class="h5 mb-4">Ciclo lectivo 1 (2019)</h1>
                        <div class="form-group row">
                            <div class="col-md-6 mb-2">
                                <label class="mb-2">Taller</label>
                                <select class="browser-default custom-select" required>
                                    <option selected disabled>Seleccionar</option>
                                    {% for taller in talleres %}
                                    <option value="{{taller.id}}">{{taller.nombre}} ({{taller.nombre_corto}})</option>
                                    {% endfor %}    
                                </select>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label class="mb-2">Docente</label>
                                <select class="browser-default custom-select" required>
                                    <option selected disabled>Docente</option>
                                    {% for docente in docentes %}
                                    <option value="{{docente.id}}">{{docente.nombre}} {{docente.apellido}}</option>
                                    {% endfor %}
                                </select>
                            </div>  
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-secondary disabled" disabled>Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card">
                <div class="card-header py-1">
                    Estudiantes
                </div>
                <div class="card-body pb-1">
                    <h1 class="h5">Asociar estudiante a taller</h1>
                    <hr>
                    <form method="POST">
                        <h1 class="h5 mb-4">Ciclo lectivo 1 (2019)</h1>
                        <div class="form-group row">
                            <div class="col-md-6 mb-2">
                                <label class="mb-2">Taller</label>
                                <select class="browser-default custom-select" required>
                                    <option selected disabled>Seleccionar</option>
                                    {% for taller in talleres %}
                                    <option value="{{taller.id}}">{{taller.nombre}} ({{taller.nombre_corto}})</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label class="mb-2">Estudiante</label>
                                <select class="browser-default custom-select" required>
                                    <option selected disabled>Seleccionar</option>
                                    {% for student in students %}
                                    <option value="{{student.id}}">{{student.nombre}} {{student.apellido}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="col-md-12 text-right">
                                <button class="btn btn-secondary disabled" disabled>Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Row -->
    <h1 class="h4 mt-5">Talleres asignados</h1>
    <hr class="mb-4">
    <!-- Row -->
    <div class="row row-eq-height">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header py-0">
                    Nombre de taller 1
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h2 class="h5 black5 mb-2">Docentes</h2>
                            <p class="black4 mb-1">Docente 1</p>
                            <p class="black4 mb-1">Docente 2</p>
                        </div>
                        <div class="col-7">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <!-- Row Estudiantes -->
                                    <tr>
                                        <th><h2 class="h5 black4 mb-2">Alumnos</h2></td>
                                    </tr>
                                    <tr><td class="p-1">Alumno 1</td></tr>
                                    <tr><td class="p-1">Alumno 2</td></tr>
                                    <tr><td class="p-1">Alumno 3</td></tr>
                                    <tr><td class="p-1">Alumno 4</td></tr>
                                    <tr><td class="p-1">Alumno 5</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header py-0">
                    Nombre de taller 2
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h2 class="h5 black5 mb-2">Docentes</h2>
                            <p class="black4 mb-1">Docente 1</p>
                            <p class="black4 mb-1">Docente 2</p>
                        </div>
                        <div class="col-7">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <!-- Row Estudiantes -->
                                    <tr>
                                        <th><h2 class="h5 black4 mb-2">Alumnos</h2></td>
                                    </tr>
                                    <tr><td class="p-1">Alumno 1</td></tr>
                                    <tr><td class="p-1">Alumno 2</td></tr>
                                    <tr><td class="p-1">Alumno 3</td></tr>
                                    <tr><td class="p-1">Alumno 4</td></tr>
                                    <tr><td class="p-1">Alumno 5</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header py-0">
                    Nombre de taller 3
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h2 class="h5 black5 mb-2">Docentes</h2>
                            <p class="black4 mb-1">Docente 1</p>
                            <p class="black4 mb-1">Docente 2</p>
                        </div>
                        <div class="col-7">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <!-- Row Estudiantes -->
                                    <tr>
                                        <th><h2 class="h5 black4 mb-2">Alumnos</h2></td>
                                    </tr>
                                    <tr><td class="p-1">Alumno 1</td></tr>
                                    <tr><td class="p-1">Alumno 2</td></tr>
                                    <tr><td class="p-1">Alumno 3</td></tr>
                                    <tr><td class="p-1">Alumno 4</td></tr>
                                    <tr><td class="p-1">Alumno 5</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header py-0">
                    Nombre de taller 4
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h2 class="h5 black5 mb-2">Docentes</h2>
                            <p class="black4 mb-1">Docente 1</p>
                            <p class="black4 mb-1">Docente 2</p>
                        </div>
                        <div class="col-7">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <!-- Row Estudiantes -->
                                    <tr>
                                        <th><h2 class="h5 black4 mb-2">Alumnos</h2></td>
                                    </tr>
                                    <tr><td class="p-1">Alumno 1</td></tr>
                                    <tr><td class="p-1">Alumno 2</td></tr>
                                    <tr><td class="p-1">Alumno 3</td></tr>
                                    <tr><td class="p-1">Alumno 4</td></tr>
                                    <tr><td class="p-1">Alumno 5</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-header py-0">
                    Nombre de taller 5
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <h2 class="h5 black5 mb-2">Docentes</h2>
                            <p class="black4 mb-1">Docente 1</p>
                            <p class="black4 mb-1">Docente 2</p>
                        </div>
                        <div class="col-7">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <!-- Row Estudiantes -->
                                    <tr>
                                        <th><h2 class="h5 black4 mb-2">Alumnos</h2></td>
                                    </tr>
                                    <tr><td class="p-1">Alumno 1</td></tr>
                                    <tr><td class="p-1">Alumno 2</td></tr>
                                    <tr><td class="p-1">Alumno 3</td></tr>
                                    <tr><td class="p-1">Alumno 4</td></tr>
                                    <tr><td class="p-1">Alumno 5</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Row -->
{% endblock %}